blinker
certifi
chardet
charset-normalizer
click
contourpy
cycler
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
jsonpickle
kiwisolver
MarkupSafe
matplotlib
midi2audio
more-itertools
music21
numpy
packaging
pillow
pyparsing
python-dateutil
requests
six
urllib3
webcolors
Werkzeug
